@import './node_modules/codemirror/lib/codemirror.css';

body {
  background: #999;
}

.col {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.menu {
    margin-top: 10%;
    padding: 5px;
    border: 1px solid white;
}
